/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: "Helvetica Neue";
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-color: #336363;
}

header {
	width: 100%;
	height: 60px;
}

header h1 {
	float: left;
	width: 50%;
	margin-top: 10px;
	padding-left: 20px;
	margin-bottom: 0;
}

nav {
	float: left;
	text-align: right;
	width: 48%;
	margin-top: 5px;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline;
	padding: 20px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.circle {
	border-radius: 50%;
}

.right {
	margin-left: 50px;
}

footer {
	height: 50px;
	width: 100%;
	bottom: 0px;
	position: absolute;
}

#page {
	width: 80%;
	margin: 0 auto;
}

.flash {
	position: absolute;
}

.snug {
	margin-top: 0;
	margin-bottom: 0;
}

.underline {
	text-decoration: underline;
}

.subtext {
	font-size: 15px;
	font-weight: 300;
}

.inline {
	display: inline;
}

.thin_title {
	font-weight: 300;
	font-size: 22px;
}

.thin_sub_title {
	font-size: 20px;
}

.fat_sub_title {
	font-size: 24px;
	font-weight: 700;
}

.small {
	font-weight: 300;
	font-size: 18px;
}

.ago {
	font-size: 11px;
}

.user_input {
	border: 2px solid #ffffff;
	border-radius: 5px;
	font-size: 15px;
	float: right;
	padding: 3px;
	background-color: rgba(0, 0, 0, 0.4);
	color: #ffffff;
}

.top {
	margin-top: 80px;
}

.clear {
	clear: both;
}

.button {
	border: 2px solid #ffffff;
	float: right;
	background-color: rgba(0, 0, 0, 0.4);
	font-weight: 700;
	font-size: 15px;
	clear: both;
	border-radius: 5px;
	color: #ffffff;
}

.thumb {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.bottom_space {
	margin-bottom: 10px;
}

.but {
	/*border: 2px solid #ffffff;
	padding: 3px;
	border-radius: 5px; */
}

.top_space {
	margin-top: 10px;
}