<div id="page">
	<h1><%= @boat.name %></h1>
	<h3 class="snug">Docked in <%= @boat.location.name %></h3>
	<h3 class="snug"><%= @boat.capacity %> containers</h3>

	<h2>Jobs</h2>
	<% @jobs.each do |job| %>
		<p><%= link_to job.name, job %></p>
	<% end %>

	

</div>